/*** Variables Start ***/
:root {
  --container-width: 1440px;
  --accent-color: #faff00;
}
/*** Variables End ***/

/*** CSS Reset Start ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 62.5% of 16px = 10px
}
/*** CSS Reset End ***/

/*** Global Start ***/
body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
/*** Global End ***/

/*** Header Start ***/
.header {
  padding: 0.8rem 2rem;
  border-bottom: 1px solid #181818;
}

.header__content {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header__logo-image {
  width: 5rem;
  height: 5rem;
}

.header__logo-name {
  font-size: 2rem;
  font-weight: 500;
}

.header__right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 3rem;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.header__nav-link {
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
}

.header__nav-link:hover {
  color: var(--accent-color);
}

.header__icons {
  display: flex;
  gap: 3rem;
}

.header__icons .icon {
  width: 2.4rem;
  height: 2.4rem;
}

.header__icons .icon:hover {
  cursor: pointer;
  fill: var(--accent-color);
}
/*** Header End ***/

/*** Hero Start ***/
.hero {
  padding: 6.4rem 1.6rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__heading,
.hero__subheading {
  font-family: "Ink Free", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 4rem;
}

.hero__heading {
  color: var(--accent-color);
}

.hero__subheading {
  margin-top: 3rem;
}

.hero__image {
  width: 100%;
  max-width: 80rem;
  margin-top: 6rem;
}
/*** Hero End ***/

/*** Intorduction Start ***/
.introduction {
  --container-width: 1080px;
  padding: 6.4rem 1.6rem;
}

.introduction__content {
  font-size: 1.6rem;
}

.introduction__heading,
.introduction__subheading {
  color: var(--accent-color);
}

.introduction__heading {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.introduction__subheading {
  font-size: 2rem;
  font-weight: 400;
}

.introduction__text {
  margin: 0.8rem 0;
  text-align: justify;
}

.introduction__list {
  list-style-type: disc;
  margin-left: 1.8rem;
}

.introduction__list-item span,
.introduction__list-item::marker {
  color: var(--accent-color);
}
/*** Introduction End ***/
